name: Axon CI
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Erlang & Elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: '24.0'
          elixir-version: '1.12.0'
      - name: Install mix dependencies
        run: mix deps.get
      - name: Check formatting
        run: mix format --check-formatted
      - name: Run tests
        run: MIX_ENV=test mix do compile --warnings-as-errors, test
  onnx_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: Install Erlang & Elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: '24.0'
          elixir-version: '1.12.0'
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install ONNX
        run: pip install numpy onnx onnxruntime
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - name: Checkout AxonOnnx
        uses: actions/checkout@v2
        with:
          repository: elixir-nx/axon_onnx
          ref: refs/heads/master
      - name: Run ONNX tests
        run: |
          AXON_CHECKOUT=${{ steps.extract_branch.outputs.branch }} mix deps.get
          MIX_ENV=test mix do compile --warnings-as-errors, test
